<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4>Consulta de Empresas</h4>
                </div>
                <div class="col-md-6 text-end">
                    <a [routerLink]="['/cadastrar-empresas']" class="btn btn-sm btn-success">
                        Cadastrar Empresa
                    </a>
                </div>
            </div>
            <hr />
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Nome fantasia</th>
                        <th>Razão Social</th>
                        <th>CNPJ</th>
                        <th>Operações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of empresas">
                        <td>{{e.nomeFantasia}}</td>
                        <td>{{e.razaoSocial}}</td>
                        <td>{{e.cnpj}}</td>
                        <td>
                            <button class="btn btn-success btn-sm" data-bs-toggle="modal"
                                data-bs-target="#cadastro_funcionario">
                                Incluir Funcionário
                            </button>
                            &nbsp;
                            <a href='' class="btn btn-primary btn-sm">
                                Editar
                            </a>
                            &nbsp;
                            <a href='' class="btn btn-danger btn-sm">
                                Excluir
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            Quantidade de empresas: {{empresas.length}}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
 
<!-- Janela modal para cadastro de funcionário -->
<div class="modal fade" id="cadastro_funcionario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar Funcionário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
 
                <form>
                    <div class="mb-2">
                        <label>Nome do funcionário:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="mb-2">
                        <label>CPF:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="mb-2">
                        <label>Matrícula:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="mb-2">
                        <label>Data de admissão:</label>
                        <input type="date" class="form-control" />
                    </div>
                    <div class="mb-2">
                        <div class="d-grid">
                            <input type="submit" class="btn btn-success" value="Realizar Cadastro" />
                        </div>
                    </div>
                </form>
 
            </div>
        </div>
    </div>
</div>


